body{
    font-family:'Times New Roman', Times, serif;
    text-align: center;
}
 
#title{
    background-color: #ff4c68;
    color: #fff;
}

.image {
    transform: rotate(11deg);
    width: 100%;
    padding-bottom: 10px;
    
}

 .nav-item a{
    float: right;
    text-align: right;
   padding: 0 18px;
}

.navbar{
    padding-bottom: 1.5rem;
}

h1{
    font-family: "Montserrat-Black";
    font-size: 3em;
    line-height: 1.5;
}

.container-fluid{
    padding: 3% 15%;
}

#features{
    padding: 7% 15%;
    background-color: #fff;
    position: relative;
    z-index: 1;
}

.feature-box{
    
    padding: 5%;
}

h3{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100%;
    
}

#testimonials{
    padding: 7% 15%;
    
    background-color: #ef8172;
    color: #fff;

}

h2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.9em;
    line-height: 1.5rem ;
    padding: 1.5;
}

.testimonial-image{
    width: 10%;
    border-radius: 20%;
    margin: 20px;
}

#press{
    background-color: #ef8172;
    
    padding-bottom: 2%;
}

.press-logo{
    width: 15%;
    margin: 20px 20px 50px;

}

.carousel-item{
    padding: 7% 15%;
}

.heading h2{
    
    justify-content: center;
    padding-top: 2%;
}

.heading p{
    
    justify-content: center;
}

#pricing{
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 5%;
}

.feature-box p{
    color: #8f8f8f;
}

@media (max-width: 1028px){
    .image{
        position: static;
        transform: rotate(0);
    }

    #title{
        text-align: center;
    }
}

#cta{
    background-color: #ff4c68;
    
    padding: 7% 15%;
}

#cta h3{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #fff;
    padding-bottom: 4px;
    margin-bottom: 2px;
    font-size: 3.5rem;
    line-height: 4.5rem;
}

#footer{
    padding: 7% 15%;
    background-color: #fff;
    
}

#footer i{
    margin: 20px 10px;
}


